@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap");
.navigation {
  top: 0;
  position: fixed;
  width: 100vw;
}
.navigation .navigation-content {
  background-color: #B4CFCF;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.navigation .navigation-content .navigation-button {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.navigation .navigation-content .navigation-button .navigation-link {
  color: #315659;
  text-decoration: none;
  padding: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.navigation .navigation-content .navigation-button .link-active {
  color: #108696;
}
.navigation .navigation-content .navigation-logo .navigation-logo-image {
  object-fit: cover;
  max-height: 166px;
  max-width: 359px;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: #3A3C45;
}

body {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.page-content {
  background-color: #3A3C45;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.page-content .page-content__head {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 220px;
  margin-left: auto;
  margin-right: auto;
}

.products--product-container {
  width: 90%;
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-gap: 4.5%;
  padding-bottom: 5rem;
}
.products--product-container .product-container {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
.products--product-container .product-container .product-image {
  width: 100%;
  max-width: 519px;
  max-height: 395px;
  object-fit: cover;
}
.products--product-container .product-container .product-name {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
}
.products--product-container .product-container .product-description {
  font-size: 1.1rem;
  color: white;
}
.products--product-container .product-container .product__more-button {
  display: block;
  max-width: 30%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #85BBB4;
  padding: 1rem 3rem;
  border-radius: 2rem;
}
.products--product-container .product-container .product__more-button:hover {
  background-color: #108696;
}

.kleur1 {
  background-color: #315659;
}

footer .footerItems a {
  text-decoration: none;
}

footer {
  width: 100vw;
  height: 100%;
  margin-top: 50px;
  padding: 50px 0 50px 1%;
}

.footer--Positionering {
  display: flex;
  margin: 0 auto;
  width: 95vw;
  text-align: center;
}

#textGroot {
  text-align: center;
  width: 180px;
  padding-left: 140px;
}

.artClassSec {
  width: 25vw;
}
.artClassSec .footerItems2 {
  color: #B4CFCF;
}

.artClassSec2 {
  padding-left: 30px;
}

.artClassSec3 {
  padding-left: 50px;
}

.footerItems {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.footerItems img {
  object-fit: cover;
  width: 25px;
  padding-top: 15px;
  padding-left: 15px;
}

.footerItems2 {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

a.footerItems:nth-child(0n+1) {
  line-height: 30px;
  font-size: 1.2em;
  color: blue;
  text-align: center;
}
a.footerItems:nth-child(0n+2) {
  padding-top: 10px;
}
a.footerItems:nth-child(1n+1) {
  color: #B4CFCF;
  font-weight: bolder;
}
a.footerItems:nth-child(1n+2) {
  text-align: center;
  line-height: 30px;
  color: #B4CFCF;
}

.footerRuimte {
  padding-left: 5vw;
}

.w3validator {
  padding-left: 70px;
}

/*# sourceMappingURL=products.css.map */
